@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  background: rgb(150, 11, 141);
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  background-image: linear-gradient(rgb(204, 2, 204), rgb(107, 0, 121));
}
#close-btn {
  color: black;
  font-size: 3rem;
  transition: .2s;
}
#close-btn:hover {
  cursor: pointer;
  font-size: 3rem;
  color: red;
}
#Image {
  height: 500px;
  width: 500px;
  overflow: hidden;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
#modal{
  background-color: white;
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  align-items: center;

  animation: animatemodal;
  animation-duration: .4s;
}
#modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.241);
  animation: animatemodal;
  animation-duration: .4s;
}

a {
  text-align: center;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  padding: 20px 0px;
  margin-bottom: 20px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}

header {
  text-align: center;
  background: rgba(0, 0, 0, 0.316);
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  padding: 20px 0px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

header:hover {
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.66);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(2, 8, 20, 0.732) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.632) 0px 0.175em 0.5em;
  transform: translateY(0px) scale(1.05);
}

.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.background {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  display: inline;
  z-index: -1;
  height: 1900px;
  width: 100%;
}


@keyframes animatemodal {
  from {
      top: -300px;
      opacity: 0;
  }

  to {
      top: 0;
      opacity: 1;
  } 
}